{{ if .Page.Params.liens.nePasConfondre }}
<div id="ne-pas-confondre">
	<span id=>Ne pas confondre avec :</span>
	{{ $site := .Site }}
	<div>
	{{ range .Page.Params.liens.nePasConfondre }}
		{{ with ( $site.GetPage . ) }}
			<a href="{{ .Permalink }}" title="{{ .Description }}">{{ .Title }}</a>
		{{ else }}
			<a class="lien-mort">{{ . }}</a>
		{{ end }}
	{{ end }}
	</div>
</div>
{{ end }}
{{ if .Page.Params.liens.voirAussi }}
<div id="voir-aussi">
	<span id=>Voir aussi :</span>
	{{ $site := .Site }}
	<div>
	{{ range .Page.Params.liens.voirAussi }}
		{{ with ( $site.GetPage . ) }}
			<a href="{{ .Permalink }}" title="{{ .Description }}">{{ .Title }}</a>
		{{ else }}
			<a class="lien-mort">{{ . }}</a>
		{{ end }}
	{{ end }}
	</div>
</div>
{{ end }}
