:root {
	--hue: 180;
	--couleur-principale: oklch(80% 0.02 var(--hue));
	--couleur-principale-assombrie: oklch(40% 0.03 var(--hue));
	--couleur-gris-clair: oklch(85% 0 var(--hue));
	--couleur-gris-tres-clair: oklch(90% 0 var(--hue));
	--couleur-gris-sombre: oklch(10% 0.005 var(--hue));
}

* {
	color: var(--couleur-gris-sombre);
}

body {
	background-color: var(--couleur-principale);

	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	font-size: 5em
}

main {
	margin: 2em;
	width: 100%;
	
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

aside {
	background-color: var(--couleur-gris-clair);
	border-radius: 2em;
	padding: 1.75em;
	margin: 1.75em;
	max-width: 20%;
}

a {
	color: var(--couleur-principale-assombrie);
}

a:hover {
	text-decoration-style: dashed;
}

div#central {
	background-color: var(--couleur-gris-clair);
	border-radius: 2em;
	padding: 2em;
	margin: 2em;
	width: 62.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#content {
	background-color: var(--couleur-gris-tres-clair);
	border-radius: 2em;
	width: 90%;
	padding: 2em;
	align-self: center;
}

#content p {
	text-align: justify;
}
footer div {
	background-color: var(--couleur-gris-clair);
	border-radius: 1.5em;
	margin: 0.75em;
	padding: 0.5em 1em 0.5em 1em;
}

hr#pre-footer-rule {
	width: 95%;
}

#prologue #ne-pas-confondre a::before {
	content: "\21cc ";
}

#prologue #voir-aussi a::before {
	content: "\21c0 ";
}

#prologue a.lien-mort::before {
	content: "× ";
}

#prologue a::before {
	margin: 0.125em;
	padding: 0.125em;
	text-decoration: unset;
	border-radius: 0.75em;
	background-color: var(--couleur-gris-clair);
	display: inline-block;
}

#prologue a:hover::before {
	background-color: var(--couleur-principale);
	color: var(--couleur-gris-clair);
}

aside ul {
	list-style-type: "\2937";
}

#prologue, #prologue div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#prologue {
	width: 90%;
	padding: 2em;
}

#prologue :is(#ne-pas-confondre, #voir-aussi) div {
	display: flex;
	flex-direction: row;
	margin: 0px;
}

#prologue a {
	border-radius: 1em;
	background-color: var(--couleur-gris-tres-clair);
	padding: 0.5em;
	margin: 0.5em;
}

#prologue .a-droite {
	align-self: flex-end;
}
